<a href="https://colab.research.google.com/github/450586509/practical-ml/blob/master/pandas%E5%9F%BA%E7%A1%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [9]:
df = pd.DataFrame([[1,2,3,4],[11,22,33,44],[111,222,333,444]], columns=list('ABCD'))
print(df)

     A    B    C    D
0    1    2    3    4
1   11   22   33   44
2  111  222  333  444

### 列映射

In [18]:
d = df["A"].map(lambda x: x+1)
print(f"type={type(d)}")
print(d)

type=<class 'pandas.core.series.Series'>
0      2
1     12
2    112
Name: A, dtype: int64

In [21]:
#列的映射本质上是Series的映射
c = df["A"]
print(f"c type ={type(c)}")
print(c)

c type =<class 'pandas.core.series.Series'>
0      1
1     11
2    111
Name: A, dtype: int64

In [25]:
## 修改列
df["A"] = df["A"].map(lambda x:x*2)
print(df["A"])
print(df)

0      8
1     88
2    888
Name: A, dtype: int64
     A    B    C    D
0    8    2    3    4
1   88   22   33   44
2  888  222  333  444

### 列的比较操作

In [34]:
### 列的比较操作，返回的都是Series
#Series与常量比较
print(df.A<100)
#Series与Series比较
print(df.B>df.C)

0     True
1     True
2    False
Name: A, dtype: bool
0    False
1    False
2    False
dtype: bool

### 按行获取

In [37]:
#利用Series获取行
s = df.A<100
print(s)
df[s]

0     True
1     True
2    False
Name: A, dtype: bool

    A   B   C   D
0   8   2   3   4
1  88  22  33  44

In [40]:
#过滤出满足某些条件的行
df[df.B<50]

    A   B   C   D
0   8   2   3   4
1  88  22  33  44